html,body{
		height: 100%;
		width: 100%;
	}
	#bg{
		background: url(../img/bg.jpg);
		height: 100%;
		width: 100%;
		position:absolute;
		z-index:-1;
		top:0;
		left:0;
		background-size: cover;
	}
	